<form action="" method="POST" role="form">
	<div class="form-group">
		<label for="username">User Name</label>
		<input type="text" class="" name="username" id="username" placeholder="user name">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="text" class="" name="password" id="password" placeholder="user name">
	</div>
	<button type="submit" class="">Sign up</button>
</form>