{{#each posts}}
	<h2><a href="/{{slug}}">{{title}}</a></h2>
	<p class="date"> Published at {{publish}} by {{ author.username }}</p>
{{/each}}
<div id="sidebar">
	<h2>My blog</h2>
	<p>This is my blog.</p>
</div>